<!-- Hayo Ngapain?:v -->
<!-- Credit Template By Farhan -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rest Api - Alphabot</title>
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Wk6KnE7aJHUHjpp_wBoDfkeSIOQfSGMmxg&usqp=CAU"><link rel="stylesheet" href="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Wk6KnE7aJHUHjpp_wBoDfkeSIOQfSGMmxg&usqp=CAU"><link rel="stylesheet" href="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <script src="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
   <meta name="description" content="Alphabot - API">
   <meta property="og:image" content="https://i.ibb.co/gjbZGxy/IMG-20210521-WA0673.png">
   <meta property="og:site_name" content="EKA PI">
   <meta name="keywords" content="REST API">
   <meta name="author" content="Alpha Gans">
  </head>
  <body>
  <body id="page-top" onload="getvisitor();">
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo rounded-circle" href="#"><img src="images/logo1.png" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="#"><img src="images/logo1.png" class="rounded-circle" alt="logo" /></a>
        </div>
       <font face="Original Surfer">
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Zeeone Ofc</h5>
                  <span>Masih Pemula Om :(</span>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Docs</span>
          </li>
          <li class="nav-item menu-items">
          <a class="nav-link" href="#">
          <span class="menu-icon">
          <i class="mdi mdi-home"></i>
          </span>
          <span class="menu-title">Home</span>
          </a>
          </li>
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-cecan" aria-expanded="false" aria-controls="ui-img-maker">
          <span class="menu-icon">
          <i class="mdi mdi-folder-multiple-image"></i>
          </span>
          <span class="menu-title">Cecan API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-cecan">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="api/cecan/china?apikey=Alphabot">China</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/vietnam?apikey=Alphabot">Vietnam</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/thailand?apikey=Alphabot">Thailand </a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/indonesia?apikey=Alphabot">Indonesia</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/korea?apikey=Alphabot">Korea</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/japan?apikey=Alphabot">Japan</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/cecan/malaysia?apikey=Alphabot">Malaysia</a></li>
          </ul>
          </div>
          </li> 
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-asupan" aria-expanded="false" aria-controls="ui-stalker">
          <span class="menu-icon">
          <i class="mdi mdi-chart-bar"></i>
          </span>
          <span class="menu-title">Asupan API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-asupan">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="api/asupan/cecan?apikey=Alphabot">Cecan</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/asupan/hijaber?apikey=Alphabot">Hijaber</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/asupan/asupan?apikey=Alphabot">Asupan </a></li>
          <li class="nav-item"> <a class="nav-link" href="api/asupan/rikagusriani?apikey=Alphabot">Rikagusriani</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/asupan/santuy?apikey=Alphabot">Santuy</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/asupan/ukhty?apikey=Alphabot">Ukhty</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/asupan/bocil?apikey=Alphabot">Bocil</a></li>          
	     <li class="nav-item"> <a class="nav-link" href="api/asupan/gheayubi?apikey=Alphabot">Gheayubi</a></li>          
</ul>
          </div>
          </li>                    
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-downloader" aria-expanded="false" aria-controls="ui-downloader">
          <span class="menu-icon">
          <i class="mdi mdi-download"></i>
          </span>
          <span class="menu-title">Downloader API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-downloader">
          <ul class="nav flex-column sub-menu">
         <li class="nav-item"> <a class="nav-link"href="api/download/tiktok?url=https://vt.tiktok.com/ZSekUmEmL/&apikey=Alphabot">Tiktok Downloader</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/facebook?url=URL&apikey=Alphabot">Facebook Downloader</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/instagram?apikey=Alphabot&url=https://www.instagram.com/p/CVl3U2Sv1Yv/?utm_medium=copy_link">Instagram Downloader</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/pinterest?q=loli&apikey=Alphabot">Tiktok Downloader</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/ytmp3?url=https://youtu.be/-iJ3JAIh4w0&apikey=Alphabot">YouTube Audio</a></li>
		<li class="nav-item"> <a class="nav-link"href="api/download/ytsearch?query=cara membuat bot&apikey=Alphabot">Youtube Search</a></li>
         <li class="nav-item"> <a class="nav-link"href="api/download/ytmp4?url=https://youtu.be/-iJ3JAIh4w0&apikey=Alphabot">YouTube Video</a></li>          
          </ul>
          </div>
          </li>
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-lk" aria-expanded="false" aria-controls="ui-textpro">
          <span class="menu-icon">
          <i class="mdi mdi-lock"></i>
          </span>
          <span class="menu-title">Lk21 API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-lk">
          <ul class="nav flex-column sub-menu">          
          <li class="nav-item"> <a class="nav-link" href="api/lk21/search?film=spiderman&apikey=Alphabot"> Lk21 Search</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/lk21/terbaru?apikey=Alphabot">Lk21 Terbaru</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/lk21/comingsoon?apikey=Alphabot">Lk21 Coming Soon</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/lk21/tvseries?apikey=Alphabot">Lk21 Tvseries</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/lk21/year?tahun=2019&apikey=Alphabot">Lk21 Year</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/lk21/country?country=Inggris&apikey=Alphabot">Lk21 Country</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/lk21/genre?tipe=action&apikey=Alphabot">Lk21 Genre</a></li>
			</ul>
          </div>
          </li>  
<li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-film" aria-expanded="false" aria-controls="ui-stalker">
          <span class="menu-icon">
          <i class="mdi mdi-chart-bar"></i>
          </span>
          <span class="menu-title">FilmApik API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-film">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="api/filmapik/search?film=spiderman&apikey=Alphabot">Search</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/filmapik/kategori?fipm=spiderman&apikey=Alphabot">Kategori</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/filmapik/play?id=928171&apikey=Alphabot">FilmApik Play </a></li>
          <li class="nav-item"> <a class="nav-link" href="api/filmapik/terbaru?apikey=Alphabot">Film Apik Terbaru</a></li>
</ul>
          </div>
          </li>     
<li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-news" aria-expanded="false" aria-controls="ui-random">
          <span class="menu-icon">
          <i class="mdi mdi-xing"></i>
          </span>
          <span class="menu-title">News API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-news">
          <ul class="nav flex-column sub-menu">
         <li class="nav-item"> <a class="nav-link" href="api/news/cnn?type=Berita&apikey=Alphabot">Cnn News</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/news/cnbc?type=Berita&apikey=Alphabot">CnBc News</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/news/republika?type=Berita&apikey=Alphabot">Republika News</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/news/tempo?type=Berita&apikey=Alphabot">Tempo News</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/news/antara?type=Berita&apikey=Alphabot">Antara News</a
          <li class="nav-item"> <a class="nav-link" href="api/news/kumparan?type=Berita&apikey=Alphabot">Kumparan News</a></li>
          </ul>
          </div>
          </li>    
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-photooxy" aria-expanded="false" aria-controls="ui-photooxy">
          <span class="menu-icon">
          <i class="mdi mdi-folder-image"></i>
          </span>
          <span class="menu-title">Photooxy API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-photooxy">
          <ul class="nav flex-column sub-menu">
         
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/grafity_text?text=zeeone&apikey=Alphabot">Grafity Text</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/naruto?text=zeeone&apikey=Alphabot">Naruto </a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/petterns?apikey=Alphabot&text=zeeone">Petterns</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/text_on_cup?text=zeeoneofc&apikey=Alphabot">Text On Cup</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/3d_summer?text=zeeone&apikey=Alphabot">3d Summer</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/3d_nature?text=zeeone&apikey=Alphabot">3d Summer</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/wolf_metal?text=zeeone&apikey=Alphabot">Wolf Metal</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/wood_heart?text=zeeone&apikey=Alphabot">Wood Heart</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/flower_heart?text=zeeone&apikey=Alphabot">Flower Heart</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/wooden_board?text=alpha&apikey=Alphabot">Wooden Board</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/tiktok_effect?text=zeeone&text2=ofc&apikey=Alphabot">Tiktok</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/double_heart?text=zeeone&apikey=Alphabot">Double Heart</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/coffee_cup?text=alpha&apikey=Alphabot">Coffe Cup</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/under_grass?text=zeeone&apikey=Alphabot">Under Grass</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/text_on_cup2?text=zeeone&apikey=Alphabot">Text On Cup 2</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/romantic_text?text=zeeone&apikey=Alphabot">Romantic Text</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/burn_paper?text=zeeone&apikey=Alphabot">Burn Paper</a>
         <li class="nav-item"> <a class="nav-link" href="api/photooxy/shadow_text?text=alpha&apikey=Alphabot">Shadow</a>
          </ul>
          </div>
          </li>
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-search" aria-expanded="false" aria-controls="ui-fun">
          <span class="menu-icon">
          <i class="mdi mdi-emoticon-happy"></i>
          </span>
          <span class="menu-title">Search API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-search">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/api/search/joox?query=saranghae&apikey=Alphabot">Joox</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/wallpaper?query=anime&apikey=Alphabot">Wallpaper</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/wattpad?query=dilan&apikey=Alphabot">Wattpad</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/komiku?query=naruto&apikey=Alphabot">Komiku</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/otaku?query=naruto&apikey=Alphabot">Otaku</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/search/anime?query=naruto&jumlah=5&apikey=Alphabot">Anime</a></li>
          </ul>
          </div>
          </li>    
<li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-anime" aria-expanded="false" aria-controls="ui-anime">
          <span class="menu-icon">
          <i class="mdi mdi-cat"></i>
          </span>
          <span class="menu-title">Anime & Manga API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-anime">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="api/anime/searchanime?query=naruto&apikey=APIKEY">Search Anime</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/anime/samehadaku_genre?genre=sad&apikey=APIKEY">Samehadaku Genre</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/anime/samehadaku_page?page=183&apikey=Alphabot">Samehadaku Page</a></li>
</ul>
          </div>
          </li>
<li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-nsfw" aria-expanded="false" aria-controls="ui-tools">
          <span class="menu-icon">
          <i class="mdi mdi-wrench"></i>
          </span>
          <span class="menu-title">Nsfw API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-nsfw">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/ass?apikey=Alphabot">Ass</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/ahegao?apikey=Alphabot">Ahegao</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/bdsm?apikey=Alphabot">Bdsm</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/blowjob?apikey=Alphabot">Blowjob</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/cuckold?&apikey=Alphabot">CuckOld</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/cum?apikey=Alphabot">Cum</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/ero?apikey=Alphabot">Ero</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/femdom?apikey=Alphabot">Femdom</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/foot?apikey=Alphabot">Foot</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/gangbang?apikey=Alphabot">Gangbang</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/glasses?&apikey=Alphabot">Glasses</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/hentai?apikey=Alphabot">Hentai</a></li>
           <li class="nav-item"> <a class="nav-link" href="api/nsfw/hentaigif?apikey=Alphabot">Hantai Gif</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/jahy?apikey=Alphabot">Jahy</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/masturbation?apikey=Alphabot">Masturbation</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/neko?apikey=Alphabot">Neko</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/orgy?&apikey=Alphabot">Orgy</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/panties?apikey=Alphabot">Panties</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/pussy?apikey=Alphabot">Pussy</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/thighs?apikey=Alphabot">Thighs</a></li>
          <li class="nav-item"> <a class="nav-link" href="api/nsfw/yuri?&apikey=Alphabot">Yuri</a></li>          
          </ul>
          </div>
          </li>>           
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-islamic" aria-expanded="false" aria-controls="ui-islamic">
          <span class="menu-icon">
          <i class="mdi mdi-star"></i>
          </span>
          <span class="menu-title">Islamic API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-islamic">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link"href="api/islam/tahlil?apikey=Alphabot">Tahlil</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/wirid?apikey=Alphabot">Wirid</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/ayatkursi?apikey=Alphabot">Ayat Kursi</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/doaharian?apikey=Alphabot">Doa Harian</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/bacaanshalat?apikey=Alphabot">Bacaan Shalat</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/niatshalat?apikey=Alphabot">Niat Shalat</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/kisahnabi?apikey=Alphabot">Kisah Nabi</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/asmaulhusna?apikey=Alphabot">Asmaul Husna</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/niatsubuh?apikey=Alphabot">Niat Subuh</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/niatzuhur?apikey=Alphabot">Nist Zuhur</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/niatmagrib?apikey=Alphabot">Niat Magrib</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/niatisya?apikey=Alphabot">Niat Isya</a></li>
          <li class="nav-item"> <a class="nav-link"href="api/islam/niatashar?apikey=Alphabot">Nist Ashar</a></li>
 </ul>
          </div>
          </li>          
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-game" aria-expanded="false" aria-controls="ui-anime">
          <span class="menu-icon">
          <i class="mdi mdi-cat"></i>
          </span>
          <span class="menu-title">Game API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-gane">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="api/game/tebakgambar?apikey=APIKEY">Tebak Gambar </a></li>
          </ul>
          </div>
          </li>
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-oth" aria-expanded="false" aria-controls="ui-fun">
          <span class="menu-icon">
          <i class="mdi mdi-emoticon-happy"></i>
          </span>
          <span class="menu-title">Other API</span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-oth">
          <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/api/other/ghstalk?username=zeeoneofc&apikey=Alphabot">Github Stalk</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/repostalk?username=zeeoneofc&apikey=Alphabot">Repositori Stalk</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/hilih?kata=hehe&apikey=Alphabot">Hilih</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/fakedata?country=china&apikey=Alphabot">Fakedata</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/drakorasi?search=i love u&apikey=Alphabot">Drakor Asia</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/translate?kata=pagi&apikey=Alphabot">Translate</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/infotsunami?apikey=Alphabot">Info Tsunami</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/infocuacadunia?apikey=Alphabot">Cuaca Dunia</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/cuacabandara?apikey=Alphabot">Cuaca Bandara</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/kodepos?kota=Jakarta&apikey=Alphabot">Kodepos</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/coviddunia?apikey=Alphabot">Covid Global</a></li>
          <li class="nav-item"> <a class="nav-link" href="/api/other/covidindo?apikey=Alphabot">Covid Indonesia</a></li>
           <li class="nav-item"> <a class="nav-link" href="/api/other/kbbi?kata=bahasa&apikey=Alphabot">Kbbi</a></li>
          </ul>
          </div>
          </li>    
          <li class="nav-item nav-category">
          <span class="nav-link">Contact Me</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://github.com/zeeoneofc">
              <span class="menu-icon">
                <i class="mdi mdi-github-circle"></i>
              </span>
              <span class="menu-title">Github</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://wa.me/62887435047326">
              <span class="menu-icon">
                <i class="mdi mdi-whatsapp"></i>
              </span>
              <span class="menu-title">WhatsApp</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://saweria.co/zeeoneofc">
              <span class="menu-icon">
                <i class="mdi mdi-saweria"></i>
              </span>
              <span class="menu-title">Donasi</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://instagram.com/zeeoneofc">
              <span class="menu-icon">
                <i class="mdi mdi-instagram"></i>
              </span>
              <span class="menu-title">Instagram</span>
            </a>
          </li>
        </ul>
       </font>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><big><i class="mdi mdi-biohazard text-primary"></i></big></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex ">
                  <input type="text" class="form-control" placeholder="Alphabot APIs">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-view-grid"></i>
                </a>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Info New Update</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Change Template</p>
                      <p class="text-muted ellipsis mb-0"> Cuman Minta Template doang bang :v </p>
                    </div>
                  </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="https://i.ibb.co/YP05qnL/IMG-20210523-WA0099.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">ZeeoneOfc</p>
                  </div>
                </a>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-danger text-uppercase">IP Address</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" id="ip">Waiting...</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-access-point-network icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Your IP Address</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h6 class="font-weight-bold text-info text-uppercase">Your Battery</h6>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                        	<span id="batteryLevel"></span>
                          <h3 class="mb-0" id="percentageLevel">Waiting...</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-battery-positive"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Percentase Your Battery</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-success text-uppercase">Visitor</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" id="visits">Waiting...</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-eye icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Visit Web</font>
                  </div>
                </div>
              </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-info text-uppercase">Date</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h4 class="mb-0" id="tanggal">Waiting...</h4>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-calendar icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Date Now</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-success text-uppercase">Clock</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h4 class="mb-0" id="Clock">Waiting...</h4>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-clock icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal" id="Ucapan">Ucapan</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h6 class="font-weight-bold text-info text-uppercase">Road To Idul Adha</h6>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h5 class="mb-0" id="IdulAdha">Waiting...</h5>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-star icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Menuju Idul Adha</font>
                  </div>
                </div>
              </div>
            </div>
            <form action="/api/cekapikey">
              <div class="card card-round mt-5 stretch-card grid-margin">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h4 class="m-0 font-weight-bold text-warning"><i <h4>CEK APIKEY</h4>
                </div>
               <div class="card-body">
                 <p class="status" style="font-size: 17px;"></p>
                   <div class="form-group">
                     <input class="form-control font-weight-bold text-center" type="text" placeholder="Masukkan Apikey" name="apikey" required>
                   </div>
                   <div class="form-group"><center>
                     <button type="submit" class="btn btn-primary content-justify-center"><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> <span class="font-weight-bold"> Submit</span></button></center>
                   </div>
               </div>
             </div>
            </form>
<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-gw-3+1f-3d+2z" data-ad-client="ca-pub-5404310597803049" data-ad-slot="6657550061"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            <div class="row">
              <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="mt-3 btn btn-outline-danger bg-transparent">
                    <div id="demo" class="alert btn btn-outline-danger" role="alert">
                      <span id="Statistic">Waiting...</span>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
              <div class="card-body">
              <img src="https://i.top4top.io/p_1970vakjn1.jpg" alt="Ojan Ganz" class="logo img-fluid rounded mx-auto d-block mb-4"/>
              <h6 class="m-0 font-weight-bold text-primary">Information</h6>
              <h6><br>
              Rest Api Ini Free, Silahakan di pake dengan bijak. <br><br>Apikey Nya? <font color="red">Alphabot</font>
              <br> Jika menemukan bug gk usah lapor <a href="https://wa.me/62887435047326"> Owner</a></font>
              </div>
              <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
              <h4 class="card-title">FITUR LAINNYA</h4>
              <div class="template-demo">
              <button type="button" id="sbs" class="btn btn-dark btn-lg btn-block" onclick="githubstalk()">GITHUB STALK</button>
              <button type="button" id="sbs" class="btn btn-dark btn-lg btn-block" onclick="jadwal()">JADWAL SHOLAT</button>
              <button type="button" id="sbs" class="btn btn-dark btn-lg btn-block" onclick="hilihgen()">HILIH GENERATOR</button>
              </div>
              </div>
              </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <div class="bg-dark btn btn-block btn-outline-danger">
                <font face="Original Surfer" class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © <span id="Years">00</span> ZeeoneOfc</font>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script>
      swal({
        title: 'Welcome To Rest Api Alphabot',
        text: 'Klo ada eror fix sendiri',
        imageUrl: 'https://i.ibb.co/7pmfhHN/IMG-20210526-WA0030.jpg',
        imageWidth: 200,
        imageHeight: 200,
        imageAlt: 'Danu',
        animation: true
      })
    </script>
			<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>   
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/ojan.js"></script>
  </html>
